*{
    margin: 0;
    Padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    height: 1500px;
}

.navigasi {
    background-color: lightblue;
    width: 100%;
    height: 70px;
    color:dimgrey
}

.logo {
    float: left;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 30px;
}

.menu {
    margin-left: 800px;
    padding-top: 27px;
}

.menu ul li {
    list-style: none;
    display:inline-block;
    margin-right: 50px;
}

.menu ul li a {
    text-decoration: none;
    color:grey
}

.menu ul li a:hover {
    color:burlywood;
    font-style: italic;
}

.banner{
    background-color:navajowhite;
    height: 600px;
    text-align: center;
    color:darkorange;
}

.banner img{
    height: 200px;
    border-radius: 100px;
    border: 6px solid yellow;
    margin-top: 100px;
}

.box-pendidikan {
    text-align: center;
    color: blue;
    margin-top: 30px;
}

.box-kiri,
.box-tengah,
.box-kanan {
    width: 300px;
    height: 320px;
    background: color f 0f 0f 0;
    text-align: center;
    color:black;
    padding: 30px 20px;
    margin: 70px 20px 20px 55px;
    float: left;
}

.box-kiri:hover,
.box-tengah:hover,
.box-kanan:hover {
background-color: burlywood;
color:crimson;
} 














.myskills {
    text-align: center;
    color: #4d4d4d;
    margin-top: 90px;
}

.skill-kiri,
.skill-tengah,
.skill-kanan {
    width: 300px;
    height: 320px;
    background-color: #f0f0f0;
    text-align: center;
    padding: 30px 20px;
    margin:70px 20px 20px 55px ;
    float: left;
}

.skill-kiri:hover,
.skill-tengah:hover,
.skill-kanan:hover {
background-color: #3b5999;
color: white;
}

.box-kontak {
 text-align: center;
    color: #4d4d4d;
    margin-top: 600px;
}

.box-kontak img {
    width: 100px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.footer {
    background-color: grey;
    width: 100%;
    height: 40px;
    text-align: center;
    color: white;
    font-weight: 300;
    padding: 3px;
    margin-top: 50px;
}